body {
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007BFF;
  text-align: center;
}

p, h3 {
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 40px);
}

.pokemon-image {
  display: block;
  margin: 0 auto;
  width: 150px; /* Ajusta el tamaño según lo que prefieras */
  height: 150px; /* Mantén las proporciones cuadradas */
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
